.Main {
    display: flex;
}
.filters{
    width: 20%;
}
.products{
    width: 80%;
}
.category{
    font-size: larger;
    margin-top: 10px;
}
.category input{
    font-size: larger;
    margin: 0;
}
.category label{
    font-weight: 500;
}
.filters span {
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bolder;
}
.noFilterButton {
  background-color:  gray;
  border: none;
  color:  white;
  padding: 5px;
  margin-top: 10px;
  float: right;
  margin-right: ;
}